<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <title>Quote Requests</title>
</head>
<body>
<section layout:fragment="content">
  <main class="container">
    <h1 class="text-center mb-5">Quote Requests</h1>
    <div class="row justify-content-center ">
      <div class="col-lg-6 col-md-8">
        <form action="/deleteSelected" method="post">
          <table class="table table-dark table-striped table-hover table-bordered">
            <tr>
              <th th:if="${#lists.size(quoteRequests) > 0}">Select</th>
              <th>Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Address</th>
              <th>Project Description</th>
            </tr>
            <tr th:each="quoteRequest : ${quoteRequests}">
              <td><input type="checkbox" name="selectedIds" th:value="${quoteRequest.id}" /></td>
              <td th:text="${quoteRequest.name}"></td>
              <td th:text="${quoteRequest.email}"></td>
              <td th:text="${quoteRequest.phone}"></td>
              <td th:text="${quoteRequest.address}"></td>
              <td th:text="${quoteRequest.projectDescription}"></td>
            </tr>
          </table>
          <button type="submit" th:if="${#lists.size(quoteRequests) > 0}">Delete Selected</button>
        </form>
      </div>
    </div>
  </main>
</section>
</body>
</html>
